<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envia E-mail</title>
    
</head>
<body class="cor">
    <h1>Envia e-mail</h1>

    <form class="form2" action="" method="POST">
       
        {% csrf_token %}
        <input type="text" name="nome123" type="submit" placeholder="primeiro nome">
        <br>
        <input type="text" name="mail" placeholder="demo@exemple.com">
        <br>
        <input  class="radius" type="submit" style="font-size: 26px" value="Enviar">
        
    </form>

</body>
</html>